* {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
}

html, body {
  font-family: 'Urbanist', sans-serif;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

hr {
  background-color: #0C0D0D;
  opacity: 1;
}


/* =============================================================================
TEXT
============================================================================= */

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  color: #0C0D0D;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.25rem;
}

a {
  color: #0C0D0D;
  text-decoration: none;
}
a:hover {
  color: #0C0D0D;
  text-decoration: line-through;
}

/* =============================================================================
COLORS
============================================================================= */

.white {
  color: #FFFFFF;
}

/* =============================================================================
NAVBAR
============================================================================= */

.filter-invert {
  filter: invert(100%);
}
#mainNav.navbar-shrink .navbar-brand {
  color: #0C0D0D;
}
#mainNav.navbar-shrink .nav-link {
  color: #0C0D0D !important;
}
#mainNav.navbar-shrink .nav-link:hover {
  color: #64a19d;
}
#mainNav.navbar-shrink .nav-link:active {
  color: #467370;
}
#mainNav.navbar-shrink .nav-link.active {
  color: #64a19d;
  outline: none;
}
#mainNav.navbar-shrink .border-bottom {
  border-color: #0C0D0D !important;
}

.nav-link {
  font-family: 'DM Serif Display', serif;
  color: #FFFFFF !important;
}

.border-bottom {
  border-color: #FFFFFF !important;
}

.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* =============================================================================
VIDEO JUMBOTRON
============================================================================= */

.jumbotron .container {
  z-index: 1;
}

.jumbotron video {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 1;
}

.white-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%);
}

/* =============================================================================
BADGES
============================================================================= */

.badge-role {
  border: 1px solid #0C0D0D;
  border-radius: 4px;
  color: #0C0D0D;
}

/* =============================================================================
SECTIONS
============================================================================= */

section {
  margin-top: 5rem;
  padding-top: 4rem;
}
.squiggle {
  background-image: url('../img/squiggle.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.circle {
  background-image: url('../img/circle.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.underline {
  background-image: url('../img/underline.svg');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.download-box {
  -webkit-box-shadow: 5px 5px 0px 0px #0C0D0D;
box-shadow: 5px 5px 0px 0px #0C0D0D;
}

.profile {
  border-radius: 100px 100px 100px 0;
}

/* =============================================================================
FOOTER
============================================================================= */

.border-top {
  border-color: #0C0D0D !important;
}

footer .container a img {
  vertical-align: sub !important;
}


/* =============================================================================
MOBILE
============================================================================= */

@media (max-width: 812px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar .border-bottom {
    /* background-color: #FFFFFF; */
    border-bottom: none !important;
  }
  #mainNav.navbar-shrink {
    color: #0C0D0D !important;
    background-color: #FFFFFF;
  }
  .navbar-brand {
    margin-left: 1.5rem;
  }
  .jumbotron {
    background-image: url('../video/video-fallback.gif');
    background-size: cover;
    background-position: bottom;
  }
  video {
    display: none;
  }
  .desktop-only {
    display: none;
  }

}
