:root {
  --primary-color: #f5433b;
  --primary-bg: #f2eeec;
  --pure-black: #000000;
  --raisin-black: #252122;
}

* {
  color: var(--raisin-black);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg);
  font-weight: 400;
}

.monospace {
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0 !important;
}

p {
  letter-spacing: 0.01rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}
.small {
  font-size: 0.875rem;
}

.mb-10 {
  margin-bottom: 6rem;
}
.mt-10 {
  margin-top: 6rem;
}
/* ====================================================
 DIALOG
==================================================== */

dialog {
  padding: 0;
  margin: 0;
  border: none;
}
dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

dialog[open] {
  animation: show 0.8s ease-in forwards;
  -webkit-animation: show 0.8s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.parallax {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -2;
}

.page-overflow {
  background-color: var(--primary-bg);
  margin-top: -2rem;
  padding-top: 4rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.ff-ibm-plex {
  font-family: "IBM Plex Mono", monospace;
}
/* ====================================================
 TEXT UTILITIES
==================================================== */
.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}
.text-blend {
  mix-blend-mode: difference;
}
.text-neutral {
  color: var(--primary-bg);
}
.bg-neutral {
  background-color: var(--primary-bg);
}

.grayscale {
  filter: grayscale();
}

#textReveal span {
  display: inline-block;
  opacity: 0;
  transform: scale(1.8);
  filter: blur(4px);
  transition: all 0.6s ease-out;
}

#textReveal span.visible {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

#textReveal span.space {
  margin-right: 0.1em;
}

/* ====================================================
 NAVBAR
==================================================== */
.navbar {
  background-color: var(--primary-color);
  border: none;
}
.navbar-secondary {
  background-color: var(--primary-bg);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
}
.navbar-brand {
  color: var(--raisin-black);
}
.navbar-toggler {
  border-color: transparent;
}
.btn-menu {
  height: 30px;
}

.nav-link {
  color: var(--raisin-black);
  font-weight: 700;
}
.nav-link:hover {
  text-decoration: none;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--raisin-black);
  opacity: 0.7;
}

.header {
  background-color: var(--primary-color);
}

.header-title {
  line-height: 0.68;
  font-weight: 700;
  font-size: 15vw;
}
.project-cover .header-title {
  transform: translateY(250px);
  animation: fadeIn 0.8s ease-in-out forwards 0.8s;
}
@keyframes fadeIn {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ====================================================
 CARDS
==================================================== */
.work-card {
  min-height: 650px;
  max-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in;
  cursor: pointer;
}
.work-card:hover {
  filter: grayscale(0%);
}
.work-card--podpoint {
  background-image: url("/img/podpoint-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--lokicode {
  background-image: url("/img/lokicode-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--fanas {
  background-image: url("/img/fanas-cover-alt.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--samlabs {
  background-image: url("/img/samlabs-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--meccanoplastica {
  background-image: url("/img/meccanoplastica-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--orderly {
  background-image: url("/img/orderly-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.work-card--rover {
  background-image: url("/img/rso-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card {
  aspect-ratio: 1/1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in;
}
.project-card:hover {
  filter: grayscale(0%);
}

.project-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.border-black {
  border-color: #000000 !important;
}

hr {
  border-color: #000000;
  opacity: 1;
}

/* ====================================================
 BADGE
==================================================== */
.badge-outline {
  border: 1px solid var(--raisin-black);
  color: var(--raisin-black);
}
/* ====================================================
 FOOTER
==================================================== */

#about,
footer {
  background-color: var(--raisin-black);
}
#about * {
  color: var(--primary-bg);
}
footer ul li a {
  color: var(--primary-color);
}
footer ul li a:hover {
  color: var(--primary-color);
}

.project-cover {
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.modal-header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  border: none;
}

.modal-content {
  background-color: var(--primary-bg);
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/* =============================================================================
SQUIGGLE
============================================================================= */

#squiggle {
  width: 100%;
  height: 100%;
  z-index: -9999;
  position: fixed;
  top: 0;
}
#squiggle path {
  stroke-width: 0;
  stroke-dasharray: 8000;
  stroke-dashoffset: 8000;
}
.squiggleIn {
  z-index: 9999 !important;
}
.squiggleIn path {
  animation: squiggleIn 2.5s ease-in forwards;
}

@keyframes squiggleIn {
  0% {
    stroke-width: 0;
    stroke-dashoffset: 8000;
  }
  33% {
    stroke-width: 500;
    stroke-dashoffset: 0;
  }
  34% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-width: 500;
    stroke-dashoffset: 0;
  }
}

.placeholder-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  animation: fadeOut 0.4s ease-out forwards;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -9999;
  }
}

/* =============================================================================
MOBILE
============================================================================= */
.mobile-only {
  display: none !important;
}

#mobileNav {
  margin-bottom: -8rem;
  transform: scale(1.5);
  transition: all 0.4s cubic-bezier(0.61, -0.01, 0.44, 1.46);
  border-radius: 50px;
}

.container-gradient {
  height: 10vh;
}
.blur-1 {
  backdrop-filter: blur(0.205761316872428px);
  -webkit-backdrop-filter: blur(0.205761316872428px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 30%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 30%);
}

.blur-2 {
  backdrop-filter: blur(0.823045267489712px);
  -webkit-backdrop-filter: blur(0.823045267489712px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 40%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 40%);
}

.blur-3 {
  backdrop-filter: blur(1.8518518518518516px);
  -webkit-backdrop-filter: blur(1.8518518518518516px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 50%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 50%);
}

.blur-4 {
  backdrop-filter: blur(3.292181069958848px);
  -webkit-backdrop-filter: blur(3.292181069958848px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 60%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 60%);
}

.blur-5 {
  backdrop-filter: blur(10.082304526748972px);
  -webkit-backdrop-filter: blur(10.082304526748972px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 90%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 90%);
}

.blur-6 {
  backdrop-filter: blur(16.666666666666668px);
  -webkit-backdrop-filter: blur(16.666666666666668px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%);
}

.fadeIn {
  margin-bottom: 0rem !important;
  transform: scale(1) !important;
  transition: all 0.4s cubic-bezier(0.61, -0.01, 0.44, 1.46);
}

.nav-pills {
  background-color: rgba(33, 37, 41, 0.65);
  border: 1px solid #212529;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  p {
    font-size: 1.2rem;
  }
  .project-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .mobile-only {
    display: block !important;
  }
  .nav-link {
    padding: 1rem 0rem 1rem 0rem !important;
  }
  a.nav-link.border-0.active {
    border-bottom: 1px solid var(--raisin-black) !important;
  }
  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @keyframes slideDown {
    from {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
    }
    to {
      max-height: fit-content;
      padding: 1rem;
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      max-height: fit-content;
      padding: 1rem;
      opacity: 1;
    }
    to {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
    }
  }

  .navbar-collapse {
    position: absolute;
    width: 100%;
    max-height: 0;
    padding: 0 1rem;
    top: 60px;
    left: 0;
    background-color: #f5433b26;
    backdrop-filter: blur(10px);
    overflow: hidden;
    opacity: 0;
  }

  .navbar-collapse.show {
    animation: slideDown 0.6s forwards;
  }

  .navbar-collapse.closing {
    animation: slideUp 0.6s forwards;
  }

  .mt-n1 {
    margin-top: -1px;
  }
  .parallax {
    height: 80vh;
  }
  .page-overflow {
    margin-top: -2rem;
  }
  .work-card {
    filter: grayscale(0%);
  }
  .work-card--lokicode {
    background-position: -300px;
  }
  .work-card--orderly {
    background-position: -330px;
  }
  .work-card--rover {
    background-position: -240px;
  }
  .project-card {
    filter: grayscale(0%);
  }
  .header video {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .btn-menu {
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
  }
  .btn-menu.active {
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;
  }
}
